#AA {
	width: 30%;
	height: width;
	float: left;
}

#AB {
	width: 30%;
	float: left;
}

#AC {
	width: 30%;
	float: left;
}

#BA {
	width: 30%;
	float: left;

}

#BB {
	width: 30%;
	float: left;

}

#BC {
	width: 30%;
	float: left;

}

#CA {
	width: 30%;
	float: left;

}

#CB {
	width: 30%;
	float: left;

}

#CC {
	width: 30%;
	float: left;

}